:root {
  --ok-gradient-1: #00e673;
  --ok-gradient-2: #00cc66;
  --disabled: rgb(255, 255, 255);
}

* {
  margin: px;
  padding: px;
  border: px solid black;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
